<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <title>{{ title }}</title>
    </head>
    <body>
        {% include 'navbar.njk' %}
        <main class="mymain">
            {{ content | safe }}
        </main>

        {% include 'footer.njk' %}
        <!--My little javascript for btn menu/exit-->
        <script>
            const mobileBtnMenu = document.getElementById("menu-btn-js")
            mobileBtnExit = document.getElementById("exit-btn-js")
            nav = document.querySelector("nav")

            mobileBtnMenu.addEventListener("click", () => {
                nav
                    .classList
                    .add("btn-btn");
            })
            mobileBtnExit.addEventListener("click", () => {
                nav
                    .classList
                    .remove("btn-btn");
            })
        </script>
    </body>
</html>