<footer class="my-footer">
    <div class="part">
        <h2 class="part-title">Follow us on:</h2>
        <div class="socials">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-youtube"></i>
            <i class="fab fa-instagram"></i>
        </div>
    </div>
    <div class="part blogs">
        <h2 class="part-title">More Blogs</h2>
        <ul>
            <li>
                <a href="#">Lorem ipsum dolor sit.</a>
            </li>
            <li>
                <a href="#">Lorem ipsum dolor sit.</a>
            </li>
            <li>
                <a href="#">Lorem ipsum dolor sit.</a>
            </li>
            <li>
                <a href="#">Lorem ipsum dolor sit.</a>
            </li>
        </ul>
    </div>
    <div class="part">
        <h2 class="part-title">Company Info</h2>
        <ul>
            <li>
                <a href="/about/" target="_blank">About us</a>
            </li>
            <li>
                <a href="#" target="_blank">Privacy Policy</a>
            </li>
            <li>
                <a href="#" target="_blank">Terms Of Service</a>
            </li>
        </ul>
    </div>
    <div class="part subscribe">
        <h2 class="part-title">Subscribe</h2>
        <p>Subscribe to our newsletter and stay updated on the latest Blogs</p>
        <form name="subscribe" class="email-form" method="POST" netlify>
            <span><input type="email" name="email" class="email-edit" placeholder="E-mail"></span>
            <button type="submit" value="submit" class="submit-email email-edit">
                <i class="fas fa-chevron-right"></i>
            </button>
        </form>

    </div>

</footer>