<div class="navbar-container">
    <div class="mobile-nav">
        <h2 class="logo">Logo</h2>
        <img class="menu-btn" id="menu-btn-js" src="/assets/menu.svg" alt="">
    </div>
    <nav>
        <img class="exit-btn" id="exit-btn-js" src="/assets/exit.svg" alt="">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/blog/" target="_blank">Blog</a>
            </li>
            <li>
                <a href="#" target="_blank">About</a>
            </li>
            <li>
                <a class="premium-btn" href="#" target="_blank">Contact</a>
            </li>
        </ul>
    </nav>
</div>