<!--right-content-->

<div class="right-content">
    <div class="boxes box flex">
        <img class="about-brief" src="/assets/person.jpg" alt="">
        <h2>Brief About Me</h2>
        <p>Lorem ipsum dolor sit Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi? amet consectetur,
                    adipisicing elit. Velit error laborum esse provident eveniet.</p>
    </div>
    <div class="boxes box flex">
        <h1>FOLLOW ME</h1>
        <div class="socials">
            <i class="fab fa-facebook "></i>
            <i class="fab fa-youtube"></i>
            <i class="fab fa-instagram"></i>
        </div>
    </div>
</div
