<!--right-content-->

<div class="right-content">
    <div class="customize-right boxes box flex">
        <img class="about-brief" src="/assets/person.jpg" alt="">
        <h2>Brief About Me</h2>
        <p>I'm known as Rokinos (on the web) -- a frontend developer and bloger , I work for myself at the moment. My expertise is in the area of responsive design. With every line of code, I strive to make the web a beautiful place.</p>
    </div>
    <div class="customize-right boxes box flex">
        <h1>FOLLOW ME</h1>
        <div class="socials">
            <i class="fab fa-facebook "></i>
            <i class="fab fa-youtube"></i>
            <i class="fab fa-instagram"></i>
        </div>
    </div>
</div
