---
layout: 'base.njk'
---
<section class="section-b grid">

    <div class="featured">
        <div class="featured-banner">
            <h1>This is our Recent Blogs</h1>
            <p>Lorem ipsum Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi, numquam consequatur eius laboriosam ipsam libero quia repellendus quam quis eum. Quod eligendi aspernatur debitis error architecto corrupti harum, exercitationem corporis deleniti vitae modi libero?
            dolor sit amet, consectetur adipisicing elit. Molestias itaque mollitia asperiores? Asperiores a ut voluptatibus cupiditate?</p>
        </div>
        <article>

            {%- for post in collections.post | reverse -%}
                <div class="left-content box grid flex">
                    <div>
                        <h1>
                            <a href="post.url">{{post.data.title}}</a>
                        </h1>
                        <div class="author-date">by {{post.data.author}} on{{post.date}}</div>
                        <p>{{post.data.description}}</p>
                        <a href="{{post.url}}" class="btn">Continue reading</a>
                    </div>
                    <div>
                        <img src="{{post.data.image}}" alt="">
                    </div>
                </div>
            {%- endfor -%}

        </article>
    </div>
    {% include "right.njk" %}
</section>